* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* pick fonts later */
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
}

/* hide main scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Background Image Style */
.bgContainer {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100vh;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    padding-top: 8%
}

.form-container {
    background-color: rgba(151, 151, 151, 0.65);
    padding: 3% 0 3% 0;
    border-radius: 1%;
}

#title {
    font-family: 'Lobster', cursive;
    font-size: 4.5rem;
    position: relative;
    bottom: 30px;
    font-weight: 200;
    opacity: .95;
}

.subtitle {
    font-family: 'Lora', serif;
}

.modal-background {
    background-color: rgba(151, 151, 151, 0.10);
}

.modal-content {
    background-color: rgba(151, 151, 151, 0.95);
    width: 70%;
    overflow: hidden;
    border-radius: 1%;
}

.slick-slide {
    outline: none;
}

.meal-container {
    margin-right: 1rem;
}

.modal-subtitle {
    font-family: 'IM Fell Great Primer', serif;
}

.radio {
    font-size: 1.1rem;
}

/* Extra detail.js Styles */
#details-main-container {
    height:90%;
}


#details-columns {
    height: 100%;
    overflow: scroll;
    background-color: rgba(151, 151, 151, 0.95);
    border-radius: 1.5%;
    position: relative;
    top: -75px;
}

.details-title-style {
    position: absolute;
    top: -80px;
}

.details-title-container {
    display:flex;
    vertical-align: middle;
    text-align: center;
}



.thumbnail {
    border-radius: 50%;
    margin-right: 20px;
}

.details-subtitle {
    margin: auto auto;
}

/* Background Images URLs */
@keyframes animate {

    0%,
    100% {
        background-image: url("../images/wineHorizontal.jpg");
    }

    25% {
        background-image: url("../images/projector.jpg");
    }

    50% {
        background-image: url("../images/cooking.jpg");
    }

    75% {
        background-image: url("../images/coffee.jpg");
    }
}

.thumbnail {
    width: 250px;
}

.Glass {
    color: crimson;
    font-weight:bolder
}

/* Background Images URL for 768px */
@media screen and (max-width : 768px) {
    @keyframes animate {

        0%,
        100% {
            background-image: url("../images/tvVertical.jpg");
        }

        25% {
            background-image: url("../images/wineVertical.jpg");
        }

        50% {
            background-image: url("../images/moviesVertical.jpg");
        }

        75% {
            background-image: url("../images/ingredientsVertical.jpg");
        }
    }

    header {
        margin-top: 35px;
    }

    #main-ingredient {
        width: 80%;
    }

    .form-container {
        margin-left: auto;
        margin-right: auto;
    }

    /* Modal Styles */
    .modal-content {
        width: 90%;
        margin-top: 25px;
    }

    .meal-container {
        width: 80%
    }

    /* detail.html Styles */
    #details-main-container {
        height: 43%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }

    .thumbnail {
        width: 150px;
    }

    .thumbnail-container {
        width: 150px;
        margin-right: 10px
    }

    #meal-video {
        width: 90%;
    }
}
